

body {
	margin: 0 auto;
	background-color: #ADD8E6;
	font-size: 87.5%; 
	/* 14px */
}

#container {
	margin: 1.071em auto;
	padding: 0.714em;
	width: 64.286em;
	font-size: 1em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
	text-align: center;
	font-size: 1.429em;
	background-color: #C0C0C0;
	color: #ffffff;
}

.justify{
	text-align: justify;
	text-indent: 2em;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

#fig1{
	border: solid 0.143em #000000;
	background-color: #ffffff;
	float:left;
	padding: 0.357em;
	margin-left: 5.714em;
	margin-right: 14.286em;
}

#fig2{
	border: solid 0.071em #8B0000;
	background-color: #ffffff;
	font-family: "Times New Roman", Times, serif;
	float:left;
	padding: 0.357em;
	margin-left: 0;
	height:34em;
	
}

footer{
	clear: both;
	text-align: center;
	background-color: #C0C0C0;

}

.opacity{
	opacity: 0.5;
}