body{
	margin:0 auto;
	
}

.center{
	text-align: center;
}

#content{
	margin:10px auto;
	width: 500px;
	background-color: #D0D0D0;
	padding:10px;
	
}

.bold{
	font-weight: bold;
}

.align{
	float: right;
	padding-right: 16px;
}

#form{
	border: solid 1px #ffffff;
	border-radius: 5px;
	padding: 5px;
	
}

p{
	color: #606060;
}

.clear{
	clear: both;
}


.margin{
	margin-top: 50px;
	margin-bottom: 50px;
}

.result{
	color:red;
	padding: 5px;
	font-style: italic;

}
